*{
  background-color: rgb(192, 192, 224);
}
h1{
  text-align: center;    
  text-decoration: bold;
  text-decoration: underline;
  font-family: serif;
}
img{
  float: left;
  length: 100px;
  width: 100px;
  border: solid black 2px;
  margin-right: 10px;
}
a{
  background-color: white;
  text-decoration: black;
}
.topnav {
  background-color: whitesmoke;
  overflow: hidden;
  border: solid black 2px;

}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 145px;
  text-decoration: none;
  font-family: monospace;
  font-size: 20px;
  background-color: whitesmoke;
  width: 4%;
  border: solid black 2px;
}

.topnav a:hover {
  background-color: #111;
  color: rgb(255, 255, 255);
  overflow: hidden;

}

.p1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10px;
  color: black;
  position: absolute;
  padding-top: 60px;
  padding-left: 10px;
  font-size: 14px;
}
.two{
  float: right;
  margin-right: 200px;
  length: 500px;
  width: 500px;

}
.three{
  float: left;
  length: 500px;
  width: 500px;
  margin-left: 200px;
}

.p2{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin-left: 700px;
float: right;
position: absolute;
padding-left: 70px;
padding-top: 100px;
font-size: 18px;
}

.p3{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
padding: 25px;
padding-left: 300px;
padding-right: 300px;
font-size: 18px;
}

form{
text-align: center;
margin-left: 700px;
border: solid black 3px;
width: 200px;
padding-bottom: 10px;
background-color: whitesmoke;
}

.forms{
  margin: auto;
  font-size: large;
  font-weight: bold;
}

.submit{
  border: solid black 3px;
  background-color:lightgray;
}

.placeholder{
  border: solid black 2px;
  background-color:lightgray;
}

label{
  background-color: whitesmoke;
}